
body{
	padding: 20px 0;
}

ul {
    list-style-type: none;
}

h1{
	font-size: 26px;
	font-weight: normal;
	color: $dark-gray;
	margin: 0;
}

p{
	font-size: 14px;
}

img{
	height: 200px;
}

hr{
	margin: 10px 0;
	height: 1px;
	color: $dark-gray;
	background-color: $dark-gray;
	border: none;
}

