@import 'variables';
@import 'base';

.text-small{
	font-size: 12px;
}

.hpadding{
	padding-left: $leftpadding;
}

.vmargin{
	margin-top: $topmargin;	
}

.floatright{
	float: right;
}

.text-right{
	text-align: right;
}

.btn{
	background-color: $orange;
	color: white;
	&:hover{
		background-color: $dark-orange;
		color: white;
	}
}

.filterBtn{
	background-color: $light-gray;
	border: 1px solid $dark-gray;
	&:hover{
		background-color: $blue;
	}

	&.selected{
		background-color: $blue;
		color: white;
	}
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.container{
	max-width:750px;
}

.well{
	display: flex;
	@include border-radius(8px); 
	border: 2px solid $dark-gray;
	align-items: center;
}

.box{
	@include border-radius(5px); 
	border: 2px solid $light-gray;
	padding: 5px 10px;
}
